<div class='admin_content'>
<% admin_form_for :post, @post, :html => { :class => 'admin_form' } do |f| -%>
<%= f.text_field :subject, :vertical => true %>
<%= f.text_field :posted_by, :vertical => true %>
<%= f.text_area :body, :vertical => true, :required => true %>
<%= f.radio_buttons :approved, [['yes', true], ['no', false]], :vertical => true %>
<%= f.submit_tag @post.id ? 'Update Post' : 'Create Post', :vertical => true%>
<% end -%>
</div>
