<div class='cms_form'>
<%  paragraph_options_form_for :recent do |f| -%>
    <%= f.select :forum_category_id, [['Show all', -1], ['Use page connection', nil]] + ForumCategory.select_options, :label => 'Forum Category to Display'.t %>
    <%= f.select :forum_forum_id, [['Use page connection', nil]] + ForumForum.select_options, :label => 'Forum to Display'.t %>
    <%= f.page_selector :category_page_id, :label => 'Forum Category Page'.t %>
    <%= f.page_selector :forum_page_id, :label => 'Forum Page'.t %>
    <%= f.select :topics_per_page, (1..50).to_a, :label => 'Topics per page'.t %>
<% end -%>
</div>
